<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nr.user.mybasicapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_img"
        android:label="My App"
        android:roundIcon="@drawable/icon_img"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.nr.user.mybasicapp.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.nr.user.mybasicapp.Reverse" />
        <activity android:name="com.nr.user.mybasicapp.Web" />
        <activity
            android:name="com.nr.user.mybasicapp.Gallery"
            android:label="@string/title_activity_gallery"
            android:theme="@style/AppTheme" />
        <activity android:name="com.nr.user.mybasicapp.GalleryImageViewer" />
        <activity android:name="com.nr.user.mybasicapp.Main" />
        <activity android:name="com.nr.user.mybasicapp.Settings"></activity>
    </application>

</manifest>